blockquote ul {
    list-style:disc;
    margin:4px 40px;
}

blockquote ol {
    list-style:decimal;
    margin:4px 40px;
}

.block.padded.ch_box {
    padding: 10px !important;
}

.block.padded.ch_vpadding {
    padding: 10px 0 !important;
}

